<div class="flow-root">
    <ul role="list" class="divide-y divide-gray-200">
        {% for payment in payments %}
        <li class="py-3 sm:py-4">
            <div class="flex items-center space-x-4">
                <div class="flex-1 min-w-0">
                    <p class="text-sm font-medium text-gray-900 truncate">
                        {{ payment.description }}
                    </p>
                    <p class="text-sm text-gray-500 truncate">
                        {{ payment.date }}
                    </p>
                </div>
                <div class="inline-flex items-center text-base font-semibold text-gray-900">
                    ${{ payment.amount }}
                </div>
                <div class="inline-flex items-center text-base font-semibold">
                    {% if payment.paid %}
                        <span class="px-2 inline-flex text-xs leading-5 font-semibold rounded-full bg-green-100 text-green-800">
                            Paid
                        </span>
                    {% else %}
                        <span class="px-2 inline-flex text-xs leading-5 font-semibold rounded-full bg-red-100 text-red-800">
                            Unpaid
                        </span>
                    {% endif %}
                </div>
            </div>
        </li>
        {% empty %}
        <li>No payments found.</li>
        {% endfor %}
    </ul>
</div>
