<div class="flow-root">
    <ul role="list" class="divide-y divide-gray-200">
        {% for match in matches %}
        <li class="py-3 sm:py-4">
            <div class="flex items-center space-x-4">
                <div class="flex-1 min-w-0">
                    <p class="text-sm font-medium text-gray-900 truncate">
                        {{ match.trainee1 }} vs {{ match.trainee2 }}
                    </p>
                    <p class="text-sm text-gray-500 truncate">
                        {{ match.event.name }}
                    </p>
                </div>
                <div class="inline-flex items-center text-base font-semibold text-gray-900">
                    {{ match.score1 }} - {{ match.score2 }}
                </div>
            </div>
        </li>
        {% empty %}
        <li>No matches found.</li>
        {% endfor %}
    </ul>
</div>
